<h1>Cloning Bitly</h1>

<form action="/urls" method="post">
	Enter URL:
	<input type = "text" name="long_url" placeholder="http://">
	<input type = "submit" value="Submit">
</form>
<br>
<p align = "center">If you click on the "Hide" button, I will disappear.
<button id="hide" align = "center">Hide</button>
<button id="show" align = "center">Show</button>
</p>
<br>
<br>
	<table border="1" style="width:50%" align="center">
    
    <td>No.</td> 
    <td>Original URL</td>
    <td>Shorten URL</td>
  <tr><% @urls.each_with_index do |url, index| %>
    <td><%= index + 1 %></td> 
    <td><%= url.long_url %></td>
    <td><%= url.short_url %></td>

  </tr>
  <% end %>
</table>

<div id="title1">How to Use Bitly and Why It’s Important</div>
<div id="p1">Meet Bitly, the world’s largest URL shortener. Bitly takes long URLs and shortens them using a series of numbers and letters. This makes it easier to add a link on social media channels, particularly ones like Twitter that run tight on character count space. The end result enables anyone who clicks on the shortened link to go directly to the original URL by way of a “301 redirect”. This is a technique that makes webpages available under several URLs, but still credits the original URL link. Copy your link, go to bit.ly, and paste it into the white toolbar at the top of the page. Then click on “shorten” and you’ll be redirected to a new page where you can hit “copy” and automatically copy the shortened link provided.</div>